<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div>
      <div class="card-title fs-4"><h4>{{ product.name }}</h4></div>
      <div class="card-subtitle fw-bold fs-4">{{ priceString }}</div>
      <ul>
        @for (spec of specifications; track $index) {
          <li [ngClass]="{'invisible': spec === ''}">{{ spec }}</li>
        }
      </ul>
      </div>

      @if (imageUrl) {
        <div>
          <img [src]="imageUrl" alt="Product image">
        </div>
      }
    </div>
    <a class="btn btn-success btn-sm mt-1" routerLink="/checkout" [queryParams]="{productId: product.id}">Buy now</a>
    <a [routerLink]="['/product', product.id]" [state]="{product}" class="btn btn-outline-primary btn-sm ms-2 mt-1">Details</a>
    @if (showAddToCartButton()) {
      <button (click)="addToCart()" class="btn btn-outline-secondary btn-sm ms-2 mt-1" (close)="addToCart()">Add to cart
      </button>
    } @else {
      <button (click)="removeFromCart()" class="btn btn-outline-danger btn-sm ms-2 mt-1">Remove from cart</button>
    }
  </div>
</div>
