<div class="container">

  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Color theme</h5>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="themeCheckbox" id="autoThemeRadio"
               [checked]="colorTheme == 'auto'" (click)="colorTheme = 'auto'">
        <label class="form-check-label" for="autoThemeRadio">
          Auto
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="themeCheckbox" id="lightThemeRadio"
               [checked]="colorTheme == 'light'" (click)="colorTheme = 'light'">
        <label class="form-check-label" for="lightThemeRadio">
          Light
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="themeCheckbox" id="darkThemeRadio"
               [checked]="colorTheme == 'dark'" (click)="colorTheme = 'dark'">
        <label class="form-check-label" for="darkThemeRadio">
          Dark
        </label>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Display currency</h5>

      <select class="form-select" aria-label="Display currency select" (change)="onCurrencyChange($event)">
        @for (currency of currencies; track currency) {
          <option [value]="currency" [selected]="exchangeRate.selectedCurrency == currency">{{ currency }}</option>
        }
      </select>
    </div>
  </div>

  @if (authService.isUserLoggedIn()) {
    <div class="card mt-3">
      <div class="card-body">
        <h5 class="card-title">
          Email Settings
        </h5>
        <form [formGroup]="emailSettingsForm" (ngSubmit)="onSubmit()" class="form mt-3">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="orderCheck" formControlName="order">
            <label class="form-check-label" for="orderCheck">
              Send an email when an order is placed
            </label>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="newProduct" formControlName="newProduct">
            <label class="form-check-label" for="newProduct">
              Send an email when a new product is added
            </label>
          </div>

          <button type="submit" class="btn btn-primary mt-3">Update Email Settings</button>
        </form>

      </div>
    </div>
  }

</div>

<app-toast #toast></app-toast>
