<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Product name</th>
        <th>Price ({{ currency }})</th>
        <th>Quantity</th>
        <th>Total price ({{ currency }})</th>
        <th></th>
      </tr>
      </thead>

      <tbody>
        @for (item of cart; track item.productId) {
          <tr>
            @if (products[item.index]) {
              <td><a [routerLink]="['/product', item.productId]"
                     [state]="{product: products[item.index]}">{{ products[item.index]!.name }}</a></td>
              <td>{{ productPricesInCurrency[item.index] }} {{ currency }}</td>
              <td>
                <div class="btn-group btn-group-sm" role="group" aria-label="Quantity select">
                  <button type="button" class="btn btn-primary" (click)="decreaseQuantity(item)">-</button>
                  <button type="button" class="btn btn-primary active">{{ item.quantity }}</button>
                  <button type="button" class="btn btn-primary" (click)="increaseQuantity(item)">+</button>
                </div>
              </td>
              <td>{{ productPricesInCurrency[item.index] * item.quantity }} {{ currency }}</td>
              <td>
                <button class="btn btn-danger btn-sm" (click)="removeItem(item)">X</button>
              </td>
            } @else {
              <td colspan="4">
                Loading...
              </td>
            }
          </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="d-flex align-items-end flex-column">
    <h3>Total price: {{ totalPrice() }} &euro;</h3>
    <a routerLink="/checkout">
      <button class="btn btn-success mt-2">Checkout</button>
    </a>
  </div>
</div>
