<div class="container">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>User type</th>
        <th>Created date</th>
        <th>Update date</th>
        <th><!-- ACTIONS --></th>
      </tr>
      </thead>

      <tbody>
        @for (user of users; track user.id) {
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.userType }}</td>
            <td>{{ user?.createdAt | date:'dd.MM.yyyy. HH:mm' }}</td>
            <td>{{ user?.updatedAt | date:'dd.MM.yyyy. HH:mm' }}</td>
            <td>
              @if (user.id != auth.user?.id && user.userType !== 'Admin' && user.accountType == 'Server') {
                <button class="btn btn-secondary" (click)="promoteAdmin(user.id)">Promote to admin</button>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <app-toast #toast></app-toast>
</div>
